@{
    ViewData["Title"] = "Delete Result Member";
    var deleteNameMember = ViewBag.DeleteNameMember;
}

<h1>Person @deleteNameMember was removed from the list successfully!</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
